/* --------Base Styles--------- */
body, html  {
    margin: 0;
    padding: 0;
    text-align: center;
    font: 14px Helvetica, Arial, Verdana,  sans-serif;
    letter-spacing: 1.5px;
}
 
body  {
	background-image:url('debut_dark.png');
}
 
div.wrap  {
    width: 946px;
    height:100px;
    margin:auto;
    padding:0px;
}

div.no-wrap  {
	width: 950px;
    height:100px;
    margin: auto;
    min-width: 950px;
}

/* Resources */
#resources{
	float:right;
	margin-top:15px;
	color:white;
	font-size: 11px;
	text-shadow: 0 0px 0 #000;
	padding:none;
}

#icon{
	float:right;
	width:30px;
	height: 30px;
	margin-top:0px;
}


/* Logo */

#logo-header{
	height:100px;
}

#logo{
	width:300px;
	margin-left:0px;
}


/* --------Nav Bar--------- */
ul{
	margin:0px auto;
	padding:0px;
    display: inline-block;
}
div ul li {
    list-style: none;
    display: inline-block;
}
 
div ul li a{
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 187px;
    line-height: 40px;
    color: #fff;

    text-decoration: none;
    text-shadow: 0 1px 0 #000;

    border-right: 1px solid #323235;
    border-left: 1px solid rgba(255, 255, 255, 0.2);

    background-image: -moz-linear-gradient(top, #535357, #3c3c3f);
    background-image: -ms-linear-gradient(top, #535357, #3c3c3f);
    background-image: -webkit-linear-gradient(top, #535357, #3c3c3f);
    background-image: linear-gradient(top, #535357, #3c3c3f);

    -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
    -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.2), 0 1px 0px #292929;

    opacity:0.8;
}

div ul li a:hover {
	color:#048FD4;
    text-decoration:none;
    text-shadow: 0 1px 0 #000;

}

div ul li a:active  {
    background: #414142;
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
    box-shadow: inset 0 2px 3px rgba(0,0,0, 0.2);
}

#guideline1{
    position:absolute;
    margin-left:280px;
    height:100px;
    width:4px;
    background-color: #048FD4;
    z-index: -1;
}
#guideline2{
    position:absolute;
    margin-left:472px;
    height:100px;
    width:4px;
    background-color: #048FD4;
    z-index: -1;
}
#guideline3{
    position:absolute;
    margin-left:660px;
    height:100px;
    width:4px;
    background-color: #048FD4;
    z-index: -1;
}
#guideline4{
    position:absolute;
    margin-left:846px;
    height:100px;
    width:4px;
    background-color: #048FD4;
    z-index: -1;
}
/*Highlight Navigation Bar*/
#nav-select{
	display: inline-block;
	color:white;
	background-image: -moz-linear-gradient(top, #048FD4, #0271A8);
    background-image: -ms-linear-gradient(top, #048FD4, #0271A8);
    background-image: -webkit-linear-gradient(top, #048FD4, #0271A8);
    background-image: linear-gradient(top, #048FD4, #0271A8);
    text-shadow: 0 1px 0 #000;
    box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0.2), 0 0px 0px #292929;
}

#nav-select2{
    display: inline-block;
    color:white;
    background-image: -moz-linear-gradient(top, #048FD4, #0271A8);
    background-image: -ms-linear-gradient(top, #048FD4, #0271A8);
    background-image: -webkit-linear-gradient(top, #048FD4, #0271A8);
    background-image: linear-gradient(top, #048FD4, #0271A8);
    text-shadow: 0 1px 0 #000;
    box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0.2), 0 0px 0px #292929;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 188px;
}

/* Curved Navigation Bar */

#end1{
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

#end2{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	width: 188px;
}

/* Body */

#text{
    text-align: left;
    height:200px;
    width:946px;
    padding:10px;
    margin:auto;
}

body h1{
    display:inline-block;
    float:left;
    clear:both;
    font-size:30px;
    margin:0px;
    text-decoration: none;
    text-shadow: 0 2px 0 #000;
    letter-spacing: 0px;
}

body p{
    display:inline-block;
    float:left;
    font-size:20px;
}


#body1{
    text-align: center;
	width:946px;
	margin:auto;
    margin-top:-20px;
	height:630px;
	background-color:white;
	border-radius: 4px;
	box-shadow: 1px 2px 4px #000;
}

#gradient{
    text-align: center;
    width:946px;
    margin:auto;
    margin-top:-20px;
    padding-top:26px;
    height:800px;
    background-image:url('textured_paper_blue.png');
    border-radius: 4px;
}

#body_no_radius{
    text-align: center;
    width:946px;
    margin:auto;
    margin-top:-20px;
    height:600px;
    background-color:white;
    border-radius: 0px;
    box-shadow: 1px 2px 4px #000;
}

.table-center{
    display: inline-block;
	position:center;
	margin: auto;
}


#bodynav_brand{
	width:200px;
    height: 100px;
	padding:0px 55px 0px 55px;
    background-image: url('brand_gray.png');
    background-position: center;
    background-repeat: no-repeat;
}

#bodynav_brand:hover{
    width:200px;
    padding:0px 55px 0px 55px;
    background-image: url('brand.png');
}


#bodynav_design{
    width:200px;
    height: 100px;
    padding:0px 55px 0px 55px;
    background-image: url('brand_gray.png');
    background-position: center;
    background-repeat: no-repeat;
}

#bodynav_design:hover{
    width:200px;
    padding:0px 55px 0px 55px;
    background-image: url('brand.png');
}

#bodynav_numbers{
    width:200px;
    height: 100px;
    padding:0px 55px 0px 55px;
    background-image: url('brand_gray.png');
    background-position: center;
    background-repeat: no-repeat;
}

#bodynav_numbers:hover{
    width:200px;
    padding:0px 55px 0px 55px;
    background-image: url('brand.png');
}    

#inspiration{
    display: inline-block;
    position: center;
    margin-left: 10px;
    margin-top:40px;
    width:400px;
}

